html {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #69a7c6 0%, #cd82f2 100%);
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: circle;
}

li {
  font-size: 22px;
  margin-bottom: 5px;
}
li:hover {
  font-size: 24px;
  color: rgb(77, 77, 77);
}

.li-group {
  display: flex;
  padding-right: 20px;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list {
  background-color: #fff;
  border-radius: 10px;
  width: 75%;
  padding: 10px 10px 20px 10px;
}

.add-grocery {
  display: flex;
}

.add-grocery input[type='text'] {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: solid 1px #bbb;
  border-radius: 8px 0 0 8px;
}

.add-grocery button {
  border-radius: 0 8px 8px 0;
  font-size: 18px;
  font-weight: bold;
  padding: 1px 20px;
}
.add-grocery button:hover {
  background-color: rgb(104, 102, 102);
  color: white;
  font-weight: bolder;
}

.btn-remove {
  margin-left: auto;
  color: white;
  background: red;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}
.btn-remove:hover {
  background-color: rgb(131, 84, 92);
  font-size: 17px;
  border: none;
}
